# Core libraries
pandas==2.2.1
numpy==1.26.4

# Machine Learning
scikit-learn==1.4.1.post1
xgboost==2.0.3

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Web App
streamlit==1.35.0

# Model Saving/Loading
joblib==1.4.2

# PDF Report (optional)
fpdf==1.7.2